PORT=3000
MONGO_USER=schueler_1
MONGO_PASS=hws-efi-mongo-password-#
MONGO_HOST=zdw31.cloud:27017
MONGO_DB=database_name
MONGO_DB_TEST=database_name_test
MONGO_AUTH_SOURCE=admin
JWT_SECRET=change_me
JWT_EXPIRES_IN=2h
JWT_COOKIE_NAME=token
LOG_LEVEL=debug
